<div class="container">
    <p class="pull-left text-note">Frete gratuito para compras acima de R$ 129.90</p>
    <ul class="nav nav-pills nav-top navbar-right">
        <li class="dropdown langs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="images/flags/en.gif" alt="English"> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><img src="images/flags/ar.gif" alt="AR"></a></li>
                <li><a href="#"><img src="images/flags/ca.gif" alt="CA"></a></li>
                <li><a href="#"><img src="images/flags/de.gif" alt="DE"></a></li>
                <li><a href="#"><img src="images/flags/es.gif" alt="ES"></a></li>
                <li><a href="#"><img src="images/flags/et.gif" alt="ET"></a></li>
                <li><a href="#"><img src="images/flags/fa.gif" alt="FA"></a></li>
                <li><a href="#"><img src="images/flags/fr.gif" alt="FR"></a></li>
                <li><a href="#"><img src="images/flags/ja.gif" alt="JA"></a></li>
            </ul>
        </li>
        <li class="dropdown my-account">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">My Dashboard</a></li>
                <li><a href="#">Account Information</a></li>
                <li><a href="#">Address Book</a></li>
                <li><a href="#">My Orders</a></li>
            </ul>
        </li>
        <li class="dropdown menu-shop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i> <span class="shopping-bag">9</span></a>
            <div class="dropdown-menu">
                <h3>Recently added item(s)</h3>
                <ul class="list-unstyled list-thumbs-pro">
                    <li class="product">
                        <div class="product-thumb-info">
                            <a href="#" class="product-remove"><i class="fa fa-trash-o"></i></a>
                            <div class="product-thumb-info-image">
                                <a href="shop-product-detail1.html"><img alt="" width="60" src="images/content/products/product-1.jpg"></a>
                            </div>

                            <div class="product-thumb-info-content">
                                <h4><a href="shop-product-detail2.html">Denim shirt</a></h4>
                                <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                                <span class="price">29.99 USD</span>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-thumb-info">
                            <a href="#" class="product-remove"><i class="fa fa-trash-o"></i></a>
                            <div class="product-thumb-info-image">
                                <a href="shop-product-detail1.html"><img alt="" width="60" src="images/content/products/product-2.jpg"></a>
                            </div>

                            <div class="product-thumb-info-content">
                                <h4><a href="shop-product-detail2.html">Poplin shirt with fine pleated bands</a></h4>
                                <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                                <span class="price">29.99 USD</span>
                            </div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-thumb-info">
                            <a href="#" class="product-remove"><i class="fa fa-trash-o"></i></a>
                            <div class="product-thumb-info-image">
                                <a href="shop-product-detail1.html"><img alt="" width="60" src="images/content/products/product-3.jpg"></a>
                            </div>

                            <div class="product-thumb-info-content">
                                <h4><a href="shop-product-detail2.html">Contrasting shirt</a></h4>
                                <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                                <span class="price">29.99 USD</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-inline cart-subtotals text-right">
                    <li class="cart-subtotal"><strong>Subtotal</strong></li>
                    <li class="price"><span class="amount"><strong>$431</strong></span></li>
                </ul>
                <div class="cart-buttons text-right">
                    <button class="btn btn-white">View Cart</button>
                    <button class="btn btn-primary">Checkout</button>
                </div>
            </div>
        </li>
    </ul>
</div>