<div class="pull-right hidden-xs">
    <b>Versão</b> 2.0
</div>
<strong>Copyright &copy; 2015 <a target="_blank" href="http://cataniastudio.com">Catânia Studio</a>.</strong> Todos os direitos reservados.