@base: #000;
@default-min-width: 1024px;
@default-min-height: auto;

//Default Font Style
@default-font-color : #000;
@default-font-name  : 'Ubuntu';
@default-font-size  : 12px;
@default-font-type  : sans-serif;
@default-font-weight: 400;

@alternative-font-name: 'Roboto';
@alternative-font-type: @default-font-type;